---
title: Doug Watro
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    {% if page.url == "/fvr/"%}
      <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap" rel="stylesheet">
    {% endif %}

    <link rel="stylesheet" href="{{ '/assets/styles/styles.css' | url }}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{'/assets/scripts/pathtrace.js' | url}}"></script>
    <script src="{{'/assets/scripts/rotato.js' | url}}"></script>
    <script src="https://pixijs.download/release/pixi.js"></script>
    <script src="{{'/assets/scripts/pixi-filters.js' | url}}"></script>
    <script src="{{'/assets/scripts/gif.min.js' | url}}"></script>
    <script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three@0.160.0/build/three.module.js",
          "EffectComposer": "https://unpkg.com/three@0.160.0/examples/jsm/postprocessing/EffectComposer.js",
          "GlitchPass": "https://unpkg.com/three@0.160.0/examples/jsm/postprocessing/GlitchPass.js",
          "RenderPass": "https://unpkg.com/three@0.160.0/examples/jsm/postprocessing/RenderPass.js",
          "OutputPass": "https://unpkg.com/three@0.160.0/examples/jsm/postprocessing/OutputPass.js",
          "GLTFLoader":"https://unpkg.com/three@0.160.0/examples/jsm/loaders/GLTFLoader.js"
        }
      }
    </script>
    <script>
    let Mouse = {x:0,y:0};
    const time = function(){
      this.then = Date.now();
      this.now  = Date.now();
      this.intDelta;
      this.delta = 0;

      this.NextFrame = function(){
        this.then = this.now;
        this.now = Date.now();
        this.intDelta = (this.now - this.then);
        this.delta = this.intDelta/1000;
      }

    }
      const Time = new time;
      
      (function AdvTime(){
        Time.NextFrame();
        requestAnimationFrame(AdvTime);
      })();

      (function ReportMousePos(){
        document.onmousemove = (e)=>{
          Mouse.x = e.pageX;
          Mouse.y = e.pageY;
        }
      })();

      

    </script>
  </head>
  <body id="Page-{{page.fileSlug}}">
    {% include 'components/navbar' %}
    {{content}}
    {% include 'components/footer' %}
  </body>
  <script>
  // Accepts any class name
  var rellax = new Rellax('.rellax');
</script>
</html>
